# Please, add installed packages manually.
# pip freeze - output packages with all dependencies.
# pip install -r requirements.txt - install packages
# from requirements.txt with all needed dependencies automatically.

Django==4.1.1
tzdata==2022.2
python-dotenv==0.21.0
django-bootstrap5==22.1
django-ckeditor==6.5.1
psycopg2-binary==2.9.4
requests==2.28.1
bs4==0.0.1
six==1.16.0
Pillow==9.2.0