# Please, add installed packages manually.
# pip freeze - output packages with all dependencies.
# pip install -r requirements.txt - install packages
# from requirements.txt with all needed dependencies automatically.

## The following requirements were added by pip freeze:
asgiref==3.5.2
Django==4.1.1
django-bootstrap5==22.1
django-ckeditor==6.5.1
django-js-asset==2.0.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.4
Pillow==9.2.0
psycopg2-binary==2.9.4
python-dotenv==0.21.0
tzdata==2022.2
six==1.16.0
requests==2.28.1
beautifulsoup4==4.11.1
pytest-django==4.5.2
pytest-cov==4.0.0
mixer==7.2.2
hypercorn==0.14.3
