.regContainer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 3vh 2vh 3vh 2vh;
}

.modal-content {
  max-width: 450px;
}

.navCat {
  background: #000000;
  margin-bottom: 12px;
}

.menuItems {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}

.menuItems * {
  text-decoration: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 10px;
}

.menuItems *:hover {
  color: #0d6efd;
}

@media (max-width:769px) {
  .menuItems {
      display: inline;
  }
}

.user_btn {
  text-decoration: none;
  margin-right: 9px;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  margin-bottom: 22px;
}

.profile-pic{
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  border-radius: 50%;
}

.main {
  min-height: calc(100vh - 350px);
  max-width: 850px;
}