{% extends 'base.html' %}
{% load static %}
{% block title %}403 page{% endblock %}
{% block content %}
<div class="container">
    <div class="row-md-6">
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <img src="{% static 'img/403.png' %}">
                <p class="fs-3"> <span class="text-danger">Opps!</span> Forbidden.</p>
                <p class="lead">
                    You don have enouth right to see this page!
                  </p>
                <a href="/" class="btn btn-primary">Go Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}