<!doctype html>
{% load static django_bootstrap5 %}

<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}codeBusters{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css" media="screen">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.9.1/dist/chart.min.js"></script>

{##}
{#  <link rel="stylesheet" href="https://assets.habr.com/habr-web/css/chunk-vendors.76652d4b.css">#}
{#    <link rel="stylesheet" href="https://assets.habr.com/habr-web/css/search.55a21187.css">#}

  </head>

<body>
    <header class="p-3 border-bottom bg-light sticky-xl-top">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="{% static 'img/logo.png' %}" alt="logo">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-muted">О проекте</a></li>
                    <li><a href="#" class="nav-link px-2 text-muted">Авторы</a></li>
                    <li><a href="{% url 'mainapp:statistic' %}" class="nav-link px-2 text-muted">Рейтинг</a></li>
                </ul>
                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" action="{% url 'mainapp:home' %}" method="Get">
                    <div class="autoComplete_wrapper" role="combobox" aria-owns="autoComplete_list_[id]" aria-haspopup="true" aria-expanded="false">
                        <input id="autoComplete" name="search" type="search" dir="ltr" spellcheck=false autocorrect="off" autocomplete="off" autocapitalize="off" placeholder="Поиск...">
                        <div class="autoComplete_button">
                            <button type="submit" class="autoComplete_button_icon"></button>
                        </div>
                    </div>
                </form>
                <div>
                    {% if user.is_authenticated %}
                    <a href="{% url 'users:users-account' %}" class="user_btn">
                        {{user}}
                    </a>
                    <a href="{% url 'users:logout' %}" class="user_btn">
                        <button type="button" class="btn btn-primary">Выйти</button>
                    </a>
                    {% else %}
                    <a href="{% url 'users:login' %}" class="user_btn">
                        <button type="button" class="btn btn-outline-primary me-2">Войти</button>
                    </a>
                    <a href="{% url 'users:register' %}" class="user_btn">
                        <button type="button" class="btn btn-primary">Регистрация</button>
                    </a>
                    {% endif %}
                </div>

                {% if user.is_superuser %}
                <nav class="navbar">
                    <div class="container-fluid d-flex justify-content-end">

                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                            aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Админские функции</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                    aria-label="Закрыть"></button>
                            </div>
                            <div class="offcanvas-body">

                                <div class="d-grid gap-2">
                                    <button class="btn btn-dark" type="button"
                                        onclick="location.href='{% url 'mainapp:create_demo_post' %}'">Создать
                                        демо-статью</button>
                                    <button class="btn btn-dark" type="button"
                                        onclick="location.href='{% url 'mainapp:delete_demo_posts' %}'">Удалить все
                                        демо-статьи</button>
                                    {% if demo_categories %}
                                    <button class="btn btn-dark" type="button"
                                        onclick="location.href='{% url 'mainapp:create_category' %}'">Создать
                                        категории</button>
                                    {% endif %}
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="navCat">
        <div class="container menuItems">
            {% block menu %}
            {% for razdel in menu %}
            {% if razdel == cat_selected %}
            <div>{{ razdel.name }}</div>
            {% else %}
            <a href="../../{{ razdel.alias }}" title="{{ razdel.description }}">{{ razdel.name }}</a>
            {% endif %}
            {% endfor %}
            {% endblock %}
        </div>
    </div>

    {% block content %}{% endblock %}

    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Соглашение</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Авторы</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Публикации</a></li>
        </ul>
        <p class="text-center text-muted">© {% now 'Y' %} codeBusters</p>
    </footer>

    {% bootstrap_javascript %}
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tarekraafat/autocomplete.js@10.2.7/dist/autoComplete.min.js"></script>
    <script src="{% static "js/search_autocomplete.js" %}"></script>
</body>

</html>