<!doctype html>
{% load static django_bootstrap5 %}


<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}codeBusters{% endblock %}</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css'%}" type="text/css">
</head>

<body>

    <header class="p-3 mb-3 border-bottom">
        {% if user.is_superuser %}
        <div class="container">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><span class="nav-link px-2 link-dark">Панель СУПЕРЮЗЕРА:</span></li>
                <li><a href="{% url 'mainapp:create_demo_post' %}" class="nav-link px-2 link-dark">Создать демо-статью</a></li>
                <li><a href="{% url 'mainapp:delete_demo_posts' %}" class="nav-link px-2 link-dark">Удалить все демо-статьи</a></li>
            </ul>
        </div>
        {% endif %}
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <img src="../static/img/logo.png">
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 link-dark fw-bold">GB Habr</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Ссылка1</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Ссылка2</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Ссылка3</a></li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control" placeholder="Поиск..." aria-label="Search">
                </form>
                <div>
                     {% if user.is_authenticated %}
                    <a href="{% url 'users:logout' %}" class="nav-link px-2 link-dark">{{user}}
                        <button type="button" class="btn btn-primary">Выйти</button>
                    </a>
                    {% else %}
                    <a href="{% url 'users:login' %}" class="">
                        <button type="button" class="btn btn-outline-primary me-2">Войти</button>
                    </a>
                    <a href="{% url 'users:register' %}" class="">
                        <button type="button" class="btn btn-primary">Регистрация</button>
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </header>
    {% block content %}{% endblock %}
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Ссылка1</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Ссылка2</a></li>
                <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Ссылка3</a></li>
            </ul>
            <p class="text-center text-muted">© {% now 'Y' %} codeBusters</p>
        </footer>
    </div>
    {% bootstrap_javascript %}
</body>

</html>