{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock %}
{% block content %}
<div class="container">
    <div class="row-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">World</strong>
                <h3 class="mb-0">Featured post</h3>
                <svg class="responsive" width="auto" height="400" style="border: 1px solid black"></svg>
                <div class="mb-1 text-muted">Nov 12</div>
                <p class="card-text mb-auto">This is a wider card with supporting text below as a natural lead-in to
                    additional content.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
        </div>
    </div>
    <div class="row-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">Design</strong>
                <h3 class="mb-0">Post title</h3>
                <svg class="responsive" width="auto" height="400" style="border: 1px solid black"></svg>
                <div class="mb-1 text-muted">Nov 11</div>
                <p class="mb-auto">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Sem integer vitae justo eget magna fermentum iaculis eu
                    non. Neque volutpat ac tincidunt vitae. Ut tortor pretium viverra suspendisse potenti nullam ac
                    tortor. Amet mattis vulputate enim nulla aliquet porttitor. Nunc sed blandit libero volutpat. Tellus
                    at urna condimentum mattis pellentesque id nibh tortor. Egestas fringilla phasellus faucibus
                    scelerisque eleifend. Rhoncus aenean vel elit scelerisque mauris pellentesque pulvinar pellentesque.
                    Adipiscing tristique risus nec feugiat in fermentum posuere urna nec. Congue nisi vitae suscipit
                    tellus mauris a.</p>
                <a href="#" class="stretched-link">Continue reading</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}