{% load static is_moderator %}
<div>
    <h2>Кол-во постов: {{ post_count }}</h2>
    {% if posts %}
    {% for post in posts %}
    <div class="row-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-success">{{ post.category }}</strong>
                <h3 class="mb-0">{{ post.title }}</h3>
                {% if post.image %}
                    <img class="responsive" width="100%" height="auto" src="/media/{{ post.image }}" >
                {% else %}
                    <img class="responsive" width="100%" height="auto" src="{% static 'img/post_no_image.jpg' %}" >
                {% endif %}
                <div class="mb-1 text-muted">
                    {{ post.updated_at }} |
                    {% if post.user.last_name or post.user.first_name %}
                        {{ post.user.last_name }}
                        {{ post.user.first_name }}
                        {% if post.user.first_name %}
                            {{ post.user.middle_name }}
                        {% endif %}
                    {% else %}
                        {{ post.user.username }}
                    {% endif %}
                </div>
                <p class="mb-2">{{ post.description|safe|truncatechars:500 }}</p>
                <div class="btn-group">
                    <div class="col-8">
                        <a href="{% url 'mainapp:post_detail' post.id %}" class="btn btn-primary">Продолжить
                            чтение</a>
                        {% if user == post.user or user.is_superuser or user|is_moderator %}

                        <a type="button" class="btn btn-outline-success articleButtons"
                           href="{% url 'mainapp:post-edit' post.id %}" title="Редактировать статью">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pen-fill" viewBox="0 0 16 16">
                                <path
                                d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001z">
                                </path>
                            </svg>
                        </a>

                        <a type="button" class="btn btn-outline-danger articleButtons"
                            href="{% url 'mainapp:post_delete' post.id %}" title="Удалить статью">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                <path
                                d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z">
                            </path>
                            </svg>
                        </a>

                            {% if user.is_superuser or user|is_moderator %}
                                {% if post.active %}
                                    <a type="button" class="btn btn-success"
                                       href="{% url 'mainapp:post_active' post.id %}" title="Отклонить">Одобрено</a>
                                {% else %}
                                   <a type="button" class="btn btn-danger"
                                      href="{% url 'mainapp:post_active' post.id %}" title="Одобрить">Отклонено</a>
                                {% endif %}
                            {% endif %}

                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="paginationContainer">
    <ul class="pagination">
        <li class="page-item">
            {%if posts.has_previous %}
            <a class="page-link" href="?page={{posts.previous_page_number}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            {% endif %}
        </li>
        <li class="page-item"><a class="page-link" href="#"><span>{{posts.number}}</span></a></li>
        <li class="page-item">
            {%if posts.has_next %}
            <a class="page-link" href="?page={{posts.next_page_number}}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            {% endif %}
        </li>
    </ul>
</div>
